{
  "extends": "airbnb-base",
  "rules": {
    "no-bitwise": 0
  },
  "overrides": [
    {
      "files": ["**/__tests__/**"],
      "rules": {
        "no-undef": 0
      }
    },
    {
      "files": ["**/vue-flagify/**"],
      "rules": {
        "no-param-reassign": 0
      }
    }
  ]
}
